body{
    background-color: thistle
}

#Screen{
    position: inherit;
    background-color: rgb(255, 247, 199);
    margin: 5px;
    padding: 10px;
    width: 410px;
    height: 700px;
    top: 20;
    left: 34%;
    border: solid;
    border-radius: 20px;
    position: absolute;
}

h1{
    color: rgb(255, 132, 204);
    font-style: italic;
}

#btnRefresh{
    position: inherit;
    border-radius: 15px;
}

#calContainer{
    position: absolute;
}

#registerContainer{
    position: absolute;
}

#breedContainer{
    position: absolute;
}

#existedUser{
    position: inherit;
    top: 130px;
    left: 160px;
}

#createAccount{
    position: inherit;
    top: 130px;
    left: 30px;
}

#menubar{
    top: 630px;
    width: 414px;
    height: 10vh;
    bottom: 0px;
    border: 1px;
    border-radius: 20px;
    position: inherit;
    background-color: pink;
}

.animalImg{
    max-width: 200px;
}

.btnPost{
    border-radius: 5px ;
}